<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color:#006d2c;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #31a354;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #edf8e9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #edf8e9;
  color: black;
}

/* Style the content */
.content {
  background-color: #edf8e9;
  padding: 10px;
  /*height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #bae4b3;
  padding: 10px;
}
</style>
